:root {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #F5E3B1;
}

.mainSec {
    height: 90vh;
    width: 100%;
    padding: 0 5vw;
    /*basically makes it so that the padding and border are included in the elements total height and width */
    /*so the padding goes inside rather than outside, which is very helpful*/
    box-sizing: border-box;
}

.mainText {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px;
    color: black;
}

.slideAnimation {
    position: relative;
    top: 40px;
    opacity: 0;
}

.mainText h1 {
    margin: 0px;
    font-weight: bold;
    /*em is size relative to the parent element's font-size (i.e. parent element: 2px, then 4em would be 8px) */
    /*rem is relative to the root element which is <html></html> */
    font-size: 4rem;
}

.mainText h2 {
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 1.5rem;
}

.mainText p {
    width: 40rem;
    max-width: 600px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.contactBtn {
    background-color: white;
    height: 3rem;
    width: 9rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 100px;
    font-size: 1rem;
    border-radius: 10px;
    letter-spacing: 2px;
}

.contactBtn:hover {
    background-color: #dbdbdb;
    width: 9.5rem;
    letter-spacing: 3px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.modal {
    box-sizing: border-box;
    background-color: #F5E3B1;
    position: fixed;
    /*you can use this to center anything in the exact center of something else*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*-------------------------------------------------------------------------*/
    width: 35vw;
    height: 30vh;
    border-radius: 10px;
    border-style: solid;
    border-width: 0.15rem;
    padding: 2.5%;
    visibility: hidden;
    opacity: 0;
    transition-delay: 0.05s;
    transition-duration: 0.5s;
    z-index: 2;
}

.modalCloseBtn {
    /* relative to parent element */
    position: fixed;
    top: 10%;
    right: 4%;
}

.modalCloseBtn:hover {
    cursor: pointer;
}

.modalCloseBar1 {
    background-color:black;
    width: 1vw;
    height: 1px;
    transform: rotate(45deg) translate(0.5px, 2.5px);
}

.modalCloseBar2 {
    background-color:black;
    width: 1vw;
    height: 1px;
    position: absolute;
    transform: rotate(-45deg) translate(-2px, 0px);
}

.modalContent {
    height: 100%;
}

.modalContent h1 {
    font-size: 1.5rem;
    margin: 0px;
    font-weight: normal;
    color: #364240;
}

.contactInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    height: 80%;
}

/* at phone dimensions, change the formatting of the modal */
.circle {
    width: 6vw;
    height: 6vw;
    background-color: white;
    border-radius: 3vw;
    border-style: solid;
    border-color: black;
    border-width: 0.1rem;
    transition-duration: 0.5s;
}

.circle:hover {
    background-color: #dbdbdb;
    /* enlarges the circle without moving the other elements */
    transform: scale(1.1);
}

.contactLogo {
    width: 4.5vw;
    height: 4.5vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    display: none;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
    z-index: 1;
}

footer {
    position: absolute;
    top: 90%;
    background-color: #D9CB9F;
    height: 10vh;
    width: 100%;
    box-sizing: border-box;
    padding: 1.5vh 5vw;
}

footer h4 {
    margin: 0;
}

.footerContacts {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 0.75vh 0;
}

footer p {
    font-size: 0.75rem;
    font-weight: normal;
    margin: 0;
    margin-left: 0.5rem;
    color: #262321;
}


@media screen and (max-width: 768px) {
    html {
        font-size: 10px;
    }
    .mainText {
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 90%;
    }
    .mainText p {
        width: 100%;
    }
    .modal {
        height: auto;
        width: auto;
    }
    .modalContent h1 {
        font-size: 1rem;
    }
    .contactInfo {
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-evenly;
        margin-top: 10%;
        height: 75%;
    }
    .modalCloseBtn {
        top: 5%;
    }
}